<script>
  let skillPanel = document.querySelector("#skill-panel")
    .previousElementSibling;
  skillPanel.addEventListener("click", function() {
    let skillBars = document.querySelectorAll("#skill-percent");
    skillBars.forEach(elem => {
      elem.style.width = elem.classList[0];
    });
  });
</script>

<h4 class="">Language</h4>
{{ range.Site.Params.skill.language }}
<p class="indent-8">
  <code>{{ .skill }}</code>
</p>
  <div class="w-100 mt-1 mb-3 border border-black dark:border-gray-300 rounded" style="height: 1.25rem; margin: 0px 30px">
    <div id="skill-percent" class="{{ .skillrating }}% bg-blue-500 dark:bg-yellow-700 h-full rounded" style="width: 0; transition: all 0.5s;"></div>
  </div>
{{ end }}

<h4 class="">Frontend</h4>
{{ range.Site.Params.skill.frontend }}
<p class="indent-8">
  <code>{{ .skill }}</code>
</p>
  <div class="w-100 mt-1 mb-3 border border-black dark:border-gray-300 rounded" style="height: 1.25rem; margin: 0px 30px">
    <div id="skill-percent" class="{{ .skillrating }}% bg-blue-500 dark:bg-yellow-700 h-full rounded" style="width: 0; transition: all 0.5s;"></div>
  </div>
{{ end }}

<h4 class="">Backend</h4>
{{ range.Site.Params.skill.backend }}
<p class="indent-8">
  <code>{{ .skill }}</code>
</p>
  <div class="w-100 mt-1 mb-3 border border-black dark:border-gray-300 rounded" style="height: 1.25rem; margin: 0px 30px">
    <div id="skill-percent" class="{{ .skillrating }}% bg-blue-500 dark:bg-yellow-700 h-full rounded" style="width: 0; transition: all 0.5s;"></div>
  </div>
{{ end }}

<h4 class="">Infra</h4>
{{ range.Site.Params.skill.infra }}
<p class="indent-8">
  <code>{{ .skill }}</code>
</p>
  <div class="w-100 mt-1 mb-3 border border-black dark:border-gray-300 rounded" style="height: 1.25rem; margin: 0px 30px">
    <div id="skill-percent" class="{{ .skillrating }}% bg-blue-500 dark:bg-yellow-700 h-full rounded" style="width: 0; transition: all 0.5s;"></div>
  </div>
{{ end }}
